body {
    font-family: sengoe ui, tahoma, geneva, verdana, sans-serif;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
h1 { color: #2c3e50; margin: 10px 0; }
h2 { color: #34495e; margin: 5px 0; }
h3 { color: #16a085; margin: 5px 0; }
h4 { color: #2980b9; margin: 5px 0; }
h5 { color: #8e44ad; margin: 5px 0; }
#bntyoutube {
    background-color: red;  
    color: white;           
}
#bntgithub {
    background-color: black; 
    color: white;            
}

#bntgoogle {
    background-color: rgb(255, 255, 255);  
    color: black;            
}
